@import url(/css/reset.css);

body {
  color: #333;
  font-family: Arial, Sans, sans-serif;
  padding: 20px;
}

a {
  color: #0277bd;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}

p, fieldset {
  font-size: 14px;
  margin-bottom: 15px;
}

small {
  font-size: 75%;
}

input[type=number] {
  width: 30px;
}

input[type=submit] {
  font-weight: bold;
}

.hidden {
  display: none;
}

#download {
  background: url('/img/download.png') center left no-repeat;
  padding-left: 20px;
}

#vote-yes {
  background: url('/img/thumbs_up.png') center left no-repeat;
  padding-left: 20px;
  margin: 0 10px;
}

#vote-no {
  background: url('/img/thumbs_down.png') center left no-repeat;
  padding-left: 20px;
}
