@import url(/css/reset.css);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  color: #333;
  font-family: Roboto, sans-serif;
  padding: 20px;
}

a {
  color: #0277bd;
  text-decoration: none;
}

.hidden {
  display: none;
}

h1 {
  font-size: 25pt;
  margin-bottom: 0.75em;
}

.row {
  margin-bottom: 0.625em;
}

.row span {
  font-size: 80%;
}

input[type=submit] {
  font-weight: bold;
}

#midi {
  background: url('/img/download.png') center left no-repeat;
  margin-bottom: 0.625em;
  padding-left: 20px;
}

#voteY {
  background: url('/img/thumbs_up.png') center left no-repeat;
  margin: 0 0.5em;
  padding-left: 20px;
}

#voteN {
  background: url('/img/thumbs_down.png') center left no-repeat;
  padding-left: 20px;
}
