<!DOCTYPE html>
<html lang="en">
 <head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Composer</title>
  <link rel="stylesheet" href="/css/styles.css">
 </head>
 <body>
  <header>
   <h1>Music Composer</h1>
  </header>
  <main>
   <form method="post" action="/">
    <fieldset>
     <label for="start">Starting Note</label>
     <select name="start" id="start">
      <option value="C4">C</option>
      <option value="D4">D</option>
      <option value="E4">E</option>
      <option value="F4">F</option>
      <option value="G4">G</option>
      <option value="A4">A</option>
      <option value="B4">B</option>
      <option value="C5">C&prime;</option>
     </select>
    </fieldset>
    <fieldset>
     <label for="count">Number of Notes</label>
     <input type="number" name="count" id="count" min="1" max="100" value="12" required>
     <small>(1&ndash;100)</small>
    </fieldset>
    <fieldset>
     <input type="submit" value="Let&rsquo;s Make Music!">
    </fieldset>
   </form>
   <div id="result" aria-hidden="true">
    <canvas width="0" height="0"></canvas>
    <p><a href="" id="download" title="Download MIDI file">Download</a> MIDI file</p>
    <p id="vote">Was this a good melody?
     <a href="" id="vote-yes" title="It&rsquo;s awesome!">Yes</a>
     <a href="" id="vote-no" title="It blows!">No</a></p>
    <p id="thanks" aria-hidden="true">Thank&rsquo;s for voting!</p>
   </div>
  </main>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/script.js"></script>
 </body>
</html>
