<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Melody Composer</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/js/melody.js"></script>
 </head>
 <body>
  <header role="banner">
   <h1>Melody Composer</h1>
  </header>
  <div role="main">
   <form id="paramForm" method="post" action="/melody">
    <label for="start"><strong>Start Note</strong></label>
    <select name="start" id="start">
     <option value="C4">C</option>
     <option value="D4">D</option>
     <option value="E4">E</option>
     <option value="F4">F</option>
     <option value="G4">G</option>
     <option value="A4">A</option>
     <option value="B4">B</option>
     <option value="C5">C&prime;</option>
    </select>
    <br>
    <label for="count"><strong>Note Count</strong></label>
    <input type="text" name="count" id="count" maxlength="3" size="2" 
     value="10"> (1 - 100)
    <br>
    <input type="submit" value="Compose">
   </form>
   <div id="result" class="hidden">
    <canvas id="staff" width="0" height="0"></canvas>
    <br>
    <a href="#" id="midi">midi</a>
    <div id="vote">
     Was this melody good?
     <span class="link" id="voteYes">Yes</span>
     <span class="link" id="voteNo">No</span>
    </div>
   </div>
   <div id="msg" class="hidden"></div>
  </div>
 </body>
</html>
